extends layout

block content
  h1= title
  p Number of Item in Electronic Category #{numElectronicItem}
  p Number of Item in Furnitures Category #{numFurnitureItem}
  p Number of Item in Foods Category #{numFoodItem}
  p Number of Item in Clothes Category #{numClothItem}
  p Number of Item in Toys Category #{numToyItem}
  p Number of Item in Books Category #{numBookItem}
  p Number of Item in Others Category #{numOtherItem}
  
